{% extends "entries/base.html" %}

{% block header %}
 <div class = 'jumbotron'>
  <h1>Welcome To Your Journal!</h1>
 </div>
{% endblock header %}

{% block content %}
  <h2>
   {% if user.is_authenticated %}
   Hello, {{ user.username }}!
   </h2>
    <h3> Start adding your topics <a href=" {% url 'entries:new_title' %}">here</a>  to get started!</h3>
   {% else %}
<h2><a href="{%url 'users:register'%}"> Register an account</a>
   to make your own Journal and list entries.</h2>
 {% endif %}

{% endblock content %}