{% extends 'entries/base.html' %}

{% block content %}

<p>Title: {{title}}</p>

<p>Entries:</p>
<p>
    <a href="{% url 'entries:new_entry' title.id %}">add new entry</a>
</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i'}}</p>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
             <a href="{% url 'entries:edit_entry' entry.id %}">edit entry</a>
        </p>
    </li>
    {% empty %}
    <li>
        There are no entries for this title yet.
    </li>
    {% endfor %}
</ul>
{% endblock content %}