{% extends "entries/base.html" %}
{% block header %}
<h2>Topics</h2>
{% endblock header %}

{% block content %}
<ul>
    {% for title in titles %}
     <div class="card mb-4 border-0">
        <div class="card-header">
                <h3>
                    <a href="{% url 'entries:title' title.id %}">{{ title }}</a>
                </h3>
        </div>
            <form action="{% url 'entries:delete_title' title.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class = "btn btn-outline-danger btn-sm float-right" value="Delete Topic">
            </form>
     </div>
            </br>
        {% empty %}
        <blockquote> No topics have been added yet.</blockquote>
        {% endfor %}
</ul>

    <button type="button" class="btn btn-primary float-right">
        <a style = "color:white;" href="{% url 'entries:new_title' %}">Add Topic</a>
    </button>
{% endblock content %}